- completion.comments.each do |comment|
	.timeline-comment
		.large-2.small-2.columns.no-padding
			= image_tag comment.user.profile_pic
		.large-10.small-10.columns
			.comment-text
				= comment.text
