
.row
  .large-3.columns
    =image_tag @user.profile_pic
    %h3= @user.name

    - @user.wods.each do |wod|
      %p= wod.name

  .large-9.columns
    - 8.times do
      .timeline-block
        = "#{@user.name} completed Fran in 2 minutes and 42 seconds."
        .timeline-block-details Oct 20 2013 at 12:14 PM
        %textarea
