<%# We need to render this form for each completion %>

<% @completion.comments.each do |comment| %>
  <div class="timeline-comment">
    <div class="large-2 small-2 columns">
      <%= image_tag comment.user.profile_pic %>
    </div>
    <div class="large-10 small-10 columns">
      <div class="timeline-comment">
        <%= comment.text %>
      </div>
    </div>
  </div>
<% end %>