<span class="high-five-span">
<i class="fi-arrow-up"></i>
<span class="upvotes-count <%= @completion.id %>"><%= @completion.likes.count %>
</span>

<%= link_to "High-five", {:controller =>"completions", :action => "upvote", :id => @completion.id}, :class => 'btn', method: :put, remote: true %>

</span>
