<span class="shame-span">
<i class="fi-arrow-down"></i>
<span class="downvotes-count <%= @completion.id %>"><%= @completion.dislikes.count %>
</span>

<%= link_to "Shame", {:controller =>"completions", :action => "downvote", :id => @completion.id}, :class => 'btn', method: :put, remote: true %>
</span>
