/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

@import 'foundation-icons';

img {
  box-shadow: 0 0 2px black;
  border-radius: 50%;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.follow-links {
  text-align: center;
  margin: 0 auto;
  display: inline-block;

}

.inner-followers {
  margin: 0 auto;
  height: 20px;
}

.following {
  text-align: center;
}

.centering {
  text-align: center;
  margin: 0 auto;
}


.sticky {
  margin-bottom: 40px;
}

#titulo {
  float: none;
  text-align: center;
}
ul.right {
  visibility: hidden;
}

@media (min-width: 350px) {
  #titulo {
    float: left;
  }
  ul.right {
    visibility: visible;
  }
  .search-wrapper {
    visibility: hidden;
  }
  ul.right li:first-child {
    width: 0;
  }
}

@media (min-width: 530px) {
  .search-wrapper {
    visibility: visible;
  }
  ul.right li:first-child {
    width: 180px;
  }
}