// Place all the styles related to the completions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline-comment {
  border-right: 5px solid #1b9;
  margin-bottom: 15px;
}

.no-padding {
  padding: 0;
}
