/* sidebar */
.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 8px;
    border-left: 1px solid gray;
    color: #42b0d1;
    padding-bottom: 3px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #0002ff;
    }
  }
  strong {
    display: block;
  }
}
