@import url("http://fonts.googleapis.com/css?family=Arvo");

.top-bar {
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  box-shadow: 0 1px 5px rgba(0,0,0,.75);
  h1 {
    font-family: "Arvo";
  }
  input {
    box-shadow: 1px 1px 3px rgba(0,0,0,.5) inset;
    border: 1px solid hsl(39, 75%, 45%);
    border-radius: 1em;
  }
}

.search-wrapper {
  @media (max-width: 939px) {
    padding: 0 15px 0;
    display: inline-block;
    width: 100%;
  }
}

body {
  background: url('https://crossfithub.herokuapp.com/images/bgs/subtle_grunge/subtle_grunge.png') no-repeat center center fixed;
  background-repeat: repeat;
}