// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logged-out {
  background: url('http://farm4.staticflickr.com/3441/3890281501_7bf88c1e51.jpg') no-repeat center center fixed;
  background-size: cover;
}

.signin {
  background: rgba(255,255,255,.9);
  // background: white;
  width: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 1px 4px black;
  input {
      width: 100%;
      box-sizing: border-box;
  }
}

.remember-me {
  label, input {
    display: inline;
    width: auto;
  }
}
